#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        YTMute: YTMute {
            compatible = "zmk,behavior-mod-morph";
            label = "YTMUTE";
            bindings = <&kp DOWN_ARROW>, <&kp M>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        YTSpeedMinus: YTSpeedMinus {
            compatible = "zmk,behavior-mod-morph";
            label = "YTSPEEDMINUS";
            bindings = <&kp LA(COMMA)>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        YTSpeedPlus: YTSpeedPlus {
            compatible = "zmk,behavior-mod-morph";
            label = "YTSPEEDPLUS";
            bindings = <&kp RA(PERIOD)>, <&kp PERIOD>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        YTBack: YTBack {
            compatible = "zmk,behavior-mod-morph";
            label = "YTBACK";
            bindings = <&kp LEFT_ARROW>, <&kp J>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        YTForward: YTForward {
            compatible = "zmk,behavior-mod-morph";
            label = "YTFORWARD";
            bindings = <&kp RIGHT_ARROW>, <&kp L>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F1toF11: F1toF11 {
            compatible = "zmk,behavior-mod-morph";
            label = "F1TOF11";
            bindings = <&kp F1>, <&kp F11>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F2toF12: F2toF12 {
            compatible = "zmk,behavior-mod-morph";
            label = "F2TOF12";
            bindings = <&kp F3>, <&kp F13>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F3toF13: F3toF13 {
            compatible = "zmk,behavior-mod-morph";
            label = "F3TOF13";
            bindings = <&kp F3>, <&kp F13>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F4toF14: F4toF14 {
            compatible = "zmk,behavior-mod-morph";
            label = "F4TOF14";
            bindings = <&kp F4>, <&kp F14>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F5toF15: F5toF15 {
            compatible = "zmk,behavior-mod-morph";
            label = "F5TOF15";
            bindings = <&kp F5>, <&kp F15>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F6toF16: F6toF16 {
            compatible = "zmk,behavior-mod-morph";
            label = "F6TOF16";
            bindings = <&kp F6>, <&kp F16>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F7toF17: F7toF17 {
            compatible = "zmk,behavior-mod-morph";
            label = "F7TOF17";
            bindings = <&kp F7>, <&kp F17>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F8toF18: F8toF18 {
            compatible = "zmk,behavior-mod-morph";
            label = "F8TOF18";
            bindings = <&kp F8>, <&kp F18>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        F9toF19: F9toF19 {
            compatible = "zmk,behavior-mod-morph";
            label = "F9TOF19";
            bindings = <&kp F9>, <&kp F19>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R                   &kp T                                                                     &kp Y            &kp U  &kp I                   &kp O    &kp P
&kp A      &kp S         &kp D         &kp F                   &kp G                 &mkp MB1                    &kp MINUS               &kp H            &kp J  &lt_to_layer_0 5 K      &kp L    &kp MINUS
&kp Z      &kp X         &kp C         &kp V                   &kp B                 &mt LCTRL TAB               &kp B                   &kp N            &kp M  &lt_to_layer_0 0 COMMA  &kp DOT  &kp SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 0 LANG1  &mt LEFT_SHIFT SPACE  &lt_to_layer_0 3 LANG2      &lt_to_layer_0 1 ENTER  &lt 2 BACKSPACE                                          &mo 9
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&trans     &F7toF17  &F8toF18  &F9toF19  &trans                      &trans  &trans  &trans  &trans  &trans
&trans     &F4toF14  &F5toF15  &F6toF16  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp RSHFT  &F1toF11  &F2toF12  &F3toF13  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans    &trans    &trans    &trans  &trans      &trans  &trans                          &trans
            >;
        };

        NUMandARROW {
            bindings = <
&kp PERCENT      &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp CARET                                        &kp LG(LC(LEFT))  &kp LC(PG_UP)    &kp UP_ARROW    &kp LC(PG_DN)   &kp LG(LC(RIGHT))
&kp KP_SLASH     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS  &none              &none           &kp HOME          &kp LEFT_ARROW   &kp DOWN_ARROW  &mt RALT RIGHT  &mt LGUI END
&kp KP_ASTERISK  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS   &kp LESS_THAN      &kp LC(W)       &kp LC(LS(T))     &kp LS(LA(TAB))  &kp LG(TAB)     &kp LA(TAB)     &kp LC(T)
&trans           &kp KP_N0        &kp KP_DOT       &kp KP_EQUAL     &trans        &none              &kp KP_NUMLOCK  &trans                                                             &none
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &mkp MB3   &kp LG(TAB)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB5  &mkp MB1   &mkp MB2     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &kp RC(Z)  &kp LC(Y)    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                    &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                            &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        YouTube {
            bindings = <
&none  &none  &none  &none  &none                    &kp LC(W)      &kp LC(PG_UP)  &kp UP_ARROW   &kp LC(PAGE_DOWN)  &kp RA(P)
&none  &none  &none  &none  &none  &none      &none  &kp LS(LC(T))  &YTBack        &YTMute        &YTForward         &mo 4
&none  &none  &none  &none  &none  &none      &none  &none          &kp C          &YTSpeedMinus  &YTSpeedPlus       &kp RSHFT
&none  &none  &none  &none  &none  &none      &none  &kp SPACE                                                       &none
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        Bluetooth {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                               &none  &none          &none  &none  &tog 7
&out OUT_TOG  &none         &none         &none         &none         &sys_reset      &bootloader  &none  &none          &none  &none  &tog 8
&none         &none         &none         &none         &none         &bt BT_CLR      &none        &none  &kp LG(LA(K))  &none  &none  &none
&sys_reset    &none         &none         &none         &none         &none           &none        &none                               &trans
            >;
        };
    };
};
